@font-face {
  font-family: 'ClearSans';
  src: url(ClearSans-Regular.ttf);
}

@font-face {
  font-family: 'Spartan';
  src: url(LeagueSpartan-Bold.otf);
}



/* GENERAL */
#main {
  max-width: 940px;
  margin: auto;
  font-family: ClearSans;
  padding: 35px;
}

.row-stack {
  display: flex;
}

.col-stack {
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}


/* HEADER */
.portfolio-header {
  font-family: Spartan;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.portfolio-title {
  margin: 0;
  padding: 0;
  line-height: 100%;
}

.portfolio-menu {
  display: flex;
  margin: 0;
}

.menu-icon {
  display: none;
}

.portfolio-nav li {
  font-family: ClearSans;
  font-size: 1em;
  padding: 12px;
  text-align: center;
}

.portfolio-menu a {
  opacity: .25;
}

.portfolio-menu li:hover a {
  opacity: 1;
}

.active a {
  opacity: 1;
}
/* GALLERY */
.gallery {
  padding-bottom: 60px;
}

.gallery-items {
  max-width: 950px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.gallery-item {
  box-sizing: border-box;
  width: 33%;
  height: 250px;
  padding: 24px 0;
  border: 6px solid white;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item-desc {
  display: inline-block;
  width: 100%;
  text-align: center;

}


/* FOOTER */
.footer-menu {
  display: flex;
  justify-content: center;
  border-top: 1px solid gray;
  padding-top: 24px;
}

.footer-menu li {
  background-size: 26px 26px;
  background-repeat: no-repeat;
  margin: 0 12px;
}

.footer-menu a {
  display: block;
  height: 26px;
  width: 26px;
}

.footer-menu li:hover {
  opacity: .5;
}


.footer-menu .linkedin {
  background-image: url('/static/linkedin.png');
}

.footer-menu .twitter {
  background-image: url('/static/twitter.png');
}

.footer-menu .email {
  background-image: url('/static/email.png');
}


@media (max-width: 600px) {
  /* HEADER */
  .portfolio-menu {
    display: none;

  }

  .portfolio-menu li, .portfolio-menu a {
    color: white;
    background: black;
    text-align: center;
  }

  .menu-icon {
    display: block;
    background-size: 26px 26px;
    background-image: url('/static/menu.png');
    height: 26px;
    width: 26px;
  }

  .menu-icon:hover {
    cursor: pointer;
  }

  /* GALLERY */
  .gallery-items {
    flex-direction: column;
    justify-content: center;
  }

  .gallery-item {
    width: 100%;
  }
}