/* for placement only font */
@font-face {
  font-family: 'ClearSans';
  src: url(ClearSans-Bold.ttf);
}

/* GENERAL */
.row-stack {
  display: flex;
  font-family: ClearSans;
}

.col-stack {
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}


/* HEADER */
.portfolio-header {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.portfolio-menu {
  display: flex;
  margin: 0;
}

.portfolio-nav li {
  padding: 12px;
  text-align: center;
}

.material-icons {
  display: none;
}

.material-icons:hover {
  cursor: pointer;
}

.portfolio-menu a {
  color: black;
}

.portfolio-menu li:hover {
  background: gray;
}

@media (max-width: 600px) {
  .portfolio-menu {
    display: none;
  }

  .portfolio-menu li, .portfolio-menu a {
    color: white;
    background: black;
    text-align: center;
  }

  .material-icons {
    display: block;
    flex-direction: ;
  }

}